
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#banner .btn {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  border: 0;
  padding: 10px 20px 10px 20px;
  margin: 20px;
  border-radius: 10px;
  transition: all 0.1s;
  text-shadow: 0px -2px rgba(0, 0, 0, 0.4);
  text-align: center;
  font-family: "Lobster", cursive;
}

/* -------------------------------------- */

.btn:active {
  transform: translateY(3px);
}

.btn:nth-child(1) {
  background-color: #1f6eb6;
  border-bottom: 5px solid #114a96;
}

.btn:nth-child(1):active {
  border-bottom: 2px solid #114a96;
}

.btn:nth-child(2) {
  background-color: #c93824;
  border-bottom: 5px solid #8e1f10;
}

.btn:nth-child(2):active {
  border-bottom: 2px solid #8e1f10;
}

/* --------------------- */

.psudoBody {
  display: block;
  justify-content: center;
  align-items: center;
  background-color: #3c3e70;
  margin: 20px;
}


.btnn {
  position: relative;
  font-size: 25px;
  padding: 15px 30px;
  border: 3px solid gold;
  background-color: transparent;
  color: gold;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  transition: all 0.4s;
  overflow: hidden;
}

.btnn:focus {
  outline: none;
}

.btnn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: gold;
  top: 100%;
  left: 0;
  transition: all 0.4s;
  z-index: -1;
}

.btnn:hover::before {
  transform: translateY(-100%);
}

.btnn:hover {
  color: #3c3e70;
  z-index: 99;
}



/* ------------------------------------- */


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

.helper {
  display: flex;
  justify-content: flex-end;
}
.QM {
  border: 3px solid #64560E;
  margin-right: 5px;
  padding: 0 8px 0 8px;
  border-radius: 20px;
}
.btnH {
  position: fixed;
  top: 92%;
  right: 2%;
  text-decoration: none;
  font-size: 1rem;
  color: #64560E;
  font-family: 'Noto Sans KR', sans-serif;
  padding: 10px 20px 10px 20px;
  margin: 0;
  border-radius: 50px;
  background-color: #FAD403;
  display: inline;
}
